{
  "extends": ["prettier", "eslint:recommended"],
  "plugins": ["import", "mocha", "@stylistic"],
  "globals": {
    "__DEV__": true
  },
  "env": {
    "es6": true,
    "mocha": true,
    "browser": true
  },
  "rules": {
    "no-unused-vars": ["error", {
      "ignoreRestSiblings": true,
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_",
      "caughtErrorsIgnorePattern": "^_"
    }],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "test/*.js",
          "vite.config.js",
        ],
        "optionalDependencies": false,
        "peerDependencies": true
      }
    ],
    "mocha/no-exclusive-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error",
    "lines-between-class-members": "error",
    "padding-line-between-statements": [
      "error",
      {
        blankLine: "always",
        prev: ["block-like", "class", "multiline-expression", "export", "import", "const", "multiline-const"],
        next: "*"
      },
      {
        blankLine: "always",
        prev: "*",
        next: ["block-like", "class", "return", "multiline-expression", "export", "const", "multiline-const"]
      },
      {
        blankLine: "any",
        prev: ["import"],
        next: ["import"]
      },
      {
        blankLine: "any",
        prev: ["const", "let"],
        next: ["const", "let"]
      }
     ]
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}
